/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: hsl(0, 0%, 98%);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* STYLING */

/* MOBILE LAYOUT */
